<section>
    <tr>
        <td>!id!</td>
        <td>!店名!</td>
        <td>!キャッチコピー!</td>
        <td>!職種!</td>
        <td>!最寄り駅!</td>
        <td>!時給!</td>
        <td>
            <form action = "manager.php" method = "post">
                <input type = "submit" name = "submit" value = "編集" class="update">
                <input type = "hidden" name = "mode" value = "update">
                <input type = "hidden" name = "id" value = "!id!">
            </form>
        </td>
        <td>
            <form action = "manager.php" method = "post" name="delete">
                <input type = "submit" name = "submit" value = "削除" class="delete">
                <input type = "hidden" name = "mode" value = "delete">
                <input type = "hidden" name = "id" value = "!id!">
            </form>
        </td>
    </tr>
</section>
